@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mulish:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #076652;
    overflow-x: hidden;
}

/* logo style */

h1 {
    font-family: 'Dancing Script', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #076652;
    margin-left: 20px;
}

#logo {
    float: left;
    font-size: 200%;
}

/* nav */

#menu {
    font-size: 125%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #076652;

}

#logo,
#menu {
    line-height: 75px;
}

#menu a:hover {
    color: #fff;
    background-color: #076652;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #076652;
    padding: 5px 10px;

}

.active {
    font-size: 125%;
    font-weight: bold;
    border-bottom: 2px solid #076652;
}

/* hero-image */


#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/cover-photo.jpg)no-repeat center center;
    border: 5px solid #076652;
    overflow: hidden;
    position: relative;
}

#cover-text a {
    background-color: #076652;
    border-radius: 15%;
    color: #fff;
    padding: 2px;
}

#cover-text {
    font-size: 150%;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 2px;
    width: 350px;
    height: 250px;

    padding: 5px;

    background-color: rgba(245, 245, 220, 0.8);

    bottom: 175px;
    right: 50px;

    position: absolute;

    border-radius: 15%;
    border: 2px solid #076652;

    text-align: center;


}

#book-now-link {
    font-size: 150%;
    text-decoration: none;
    border: none;
    border-radius: 15%;
    box-shadow: 5px 5px 5px #076652;
    padding: 5px 25px;
    width: 150px;

}

/* body */

#welcome-heading {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#break {
    width: 100px;
    height: 2px;
    background: #076652;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#welcome-sub-heading {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#welcome {
    height: 700px;
}

#welcome-heading {
    text-transform: uppercase;
}

#welcome-text {
    font-family: 'Mulish', sans-serif;
}

#left-welcome {
    padding-top: 25px;
    width: 20%;
    float: left;
    margin-left: 150px;
}

#left-welcome img {
    float: right;
    height: 250px;
    width: 100%;
    border: 5px solid #076652;
    border-radius: 25px 50px 25px;
}

#left-welcome h3 {
    text-align: center;
}

#left-welcome p {
    text-align: center;
}

#welcome-book-now {
    text-decoration: none;
    background-color: #076652;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    width: 20%;
}

#welcome-book-now:hover {
    background-color: #fff;
    color: #076652;
    border: 1px solid #076652;
}

#right-welcome {
    padding-top: 25px;
    width: 20%;
    float: right;
    margin-right: 150px;
}


#right-welcome img {
    float: left;
    height: 250px;
    width: 100%;
    border: 5px solid #076652;
    border-radius: 25px 50px 25px;
}

#right-welcome h3 {
    text-align: center;
}

#right-welcome p {
    text-align: center;
}

#welcome-contact-us {
    text-align: center;
    text-decoration: none;
    background-color: #076652;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
}

#welcome-contact-us:hover {
    background-color: #fff;
    color: #076652;
    border: 1px solid #076652;
}

#center-welcome {
    padding-top: 25px;
    width: 20%;
    margin: 0 auto;
}

#center-welcome img {
    height: 250px;
    width: 100%;
    border: 5px solid #076652;
    border-radius: 25px 50px 25px;
}

#center-welcome h3 {
    text-align: center;
}

#center-welcome p {
    text-align: center;
}

#flyover-link {
    text-align: center;
    text-decoration: none;
    background-color: #076652;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
}

#flyover-link:hover {
    background-color: #fff;
    color: #076652;
    border: 1px solid #076652
}

/* Footer */

footer {
    padding: 25px;
    background-color: #076652;
    clear: both;
    width: 100%;
}

#social-networks {
    text-align: center;
}

#social-networks>li {
    display: inline;
}

#social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #fff;
}

#facebook i:hover {
    color: #3b5998;
}

#twitter i:hover {
    color: #1DA1F2;
}

#youtube i:hover {
    color: #FF0000;
}

#instagram i:hover {
    color: salmon;
}

hr {
    border-top: 1px solid #fff;
    width: 100%;
}

#footer-details {
    color: #fff;
    letter-spacing: 2px;
    list-style-type: none;
    padding: 25px;
}

#footer-details h3 {
    padding-bottom: 25px;
}

#footer-details li {
    padding-bottom: 5px;
    list-style-type: none;
}


#footer-details a {
    text-decoration: none;
    color: #fff;
}

#footer-details a:hover {
    color: rgba(245, 245, 220)
}

#contact-details {
    float: left;
    margin-left: 50px;
    width: 33%;
}

#times-details {
    float: right;
    margin-right: 50px;
    width: 33%;
}

#quick-links {
    margin: 0 auto;
    width: 33%;
}

/* gallery page */

#feature-holes {
    clear: both;
}

#feature-holes h2 {
    text-align: center;
    padding: 25px;
}

.holes {
    width: 75%;
    height: 300px;
    margin: 0 auto;

}

.holes h3 {
    font-family: 'Dancing Script', sans;
}

.gallery-break {
    width: 75%;
    height: 2px;
    background: #076652;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#hole7 img {
    max-height: 250px;
    width: 500px;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 50% 20% / 10% 40%;
}

#hole7 p {
    float: right;
    margin-right: 50px;
    max-width: 50%;
    padding-top: 75px;
}

#hole7 h3 {
    float: left;
}

#hole12 img {
    max-height: 250px;
    width: 500px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    border-radius: 40% 10% / 20% 50%;
}

#hole12 p {
    float: left;
    margin-left: 50px;
    max-width: 50%;
    padding-top: 50px;
}

#hole12 h3 {
    float: right;
}

#hole17 img {
    max-height: 250px;
    width: 500px;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 50% 20% / 10% 40%;
}

#hole17 p {
    float: right;
    margin-right: 50px;
    max-width: 50%;
    padding-top: 50px;
}

#hole17 h3 {
    float: left;
}

/* Book now page */

/* form */
#book-now-form {
    clear: both;
    max-width: 600px;
    width: 100%;
    background-color: #076652;
    color: #fff;
    margin: 25px auto;
    padding: 25px;
    border-radius: 15%;
}

#book-now-form h2 {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

#form {
    width: 100%;
}

#form .input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#form .input-field label {
    width: 200px;
    margin-right: 15px;
    font-size: 15px;

}

#form .input-field .input {
    width: 100%;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

#form .input-field .input:focus {
    box-shadow: 2px 2px 2px #000;
}

#form .input-field p {
    font-weight: bold;
}

#form .input-field .check {
    height: 1px;
    width: 1px;
    position: relative;
    display: block;
}

#form .input-field .textarea {
    width: 100%;
    height: 100px;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    resize: none;
}

#form .input-field .textarea:focus {
    box-shadow: 2px 2px 2px #000;
}

#form .input-field .select {
    width: 100%;
    position: relative;
}

#form .input-field .select select {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

#form .input-field .select select:focus {
    box-shadow: 2px 2px 2px #000;
}

#form .input-field .book {
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #fff;
    color: #076652;
    border-radius: 5px;
}

#form .input-field .book:hover {
    background-color: #076652;
    color: #fff;
    border: 1px solid #fff;
}

/* Form response */

#form-response {
    width: 75%;
    height: 600px;
    background-color: #076652;
    clear: both;
    margin: 25px auto;
    color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-response a {
    color: #fff;
}

#form-response a:hover {
    font-size: 110%;
    color: gold;
}

/* responsive styling */



@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
        line-height: 25px;
        margin-bottom: 25px;
    }

    #welcome {
        display: flex;
        flex-direction: column;
        height: 1750px;
    }

    #left-welcome,
    #right-welcome,
    #center-welcome,
    .welcome-top {
        width: 33.33%;
        text-align: center;
        margin: 0 auto;
        
    }

}